# Redirect to https
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://jumperpark.pl%{REQUEST_URI} [L,NE,R=301]

# Enable react routing on server
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

# Set proper caching on server
<IfModule mod_headers.c>
    <filesMatch "\.(ico|png|gif|swf|pdf|js|css)$">
        Header unset ETag
        Header unset Last-Modified
        Header set Cache-Control "max-age=31536000, public, immutable"
    </filesMatch>
    <filesMatch "\.(jpe?g)">
        Header unset ETag
        Header unset Last-Modified
        Header set Cache-Control "max-age=31536000, public, immutable"
    </filesMatch>
    <filesMatch "\.(html)$">
        Header unset Last-Modified
        Header set Cache-Control "no-cache"
    </filesMatch>
</IfModule>